{% trans_default_domain 'FOSUserBundle' %}
<div class="hero is-fullheight "  style="background-image:url(/assets/images/on.jpg)" >
<div class="fos_user_user_show  is-size-3 has-text-black-bis">
	
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
	
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    <p><a href=path('fos_user_profile_edit')>Change password</a></p>
    	 
</div>
</div>


