 
{% extends "base.html.twig" %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block content %}

<div class="container">
    <div class="section">
        <div class="column">
            <div class="section">
                <div class="columns is-multiline">
                   {% for article in articles %}
                        <div class="column is-one-third">
                            <p>{{article.title}} </p>
                            {% endfor %}
                            <div class="card bottom-border">
                                <div class="card-image">
                                  
                                </div>
                                <div class="card-content is-mobile is-tablet">
                                    <div class="is-clearfix">
                                        <div class="tags is-pulled-left">
                                          
                                        </div>
                                    </div>
                                    <div class="is-clearfix">
                                     
                                    </div>
                                    <div class="is-clearfix">
                                        <div class="is-pulled-left">
                                        
                                        </div>
                                        <div class="is-pulled-right">
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}