{% extends "base.html.twig" %}

{% block content %}

<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="section">
                    <div class="columns is-multiline">

                        <div class="column is-half">
                            <div class="item card bottom-border">
                                <a class="item-link" href="#">
                                    <figure class="image lazyload is-2by1 item-figure background-img" style="background-image:url(http://placehold.it/700x600)" alt="Xbox game subscription service launches soon">
                                    </figure>
                                </a>
                                <div class="item-tags">
                                    <a class="button tag is-rounded" href="#" title="Entertainment" aria-label="Entertainments">#Entertainment</a>
                                    <a class="button tag is-rounded" href="#" title="Gaming" aria-label="Gamings">#Gaming</a>
                                </div>
                                <h2 class="title item-title is-size-4 has-text-weight-extra-bold"><a class="item-link" href="#">Xbox game subscription service launches soon</a></h2>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="item-author"><a href="#">John Doe</a></div>
                                    </div>
                                    <div class="level-right">
                                        <time datetime="2018-06-07">Jun 07, 2018</time>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-half">
                            <div class="item card bottom-border">
                                <a class="item-link" href="#">
                                    <figure class="image lazyload is-2by1 item-figure background-img" style="background-image:url(http://placehold.it/700x600)" alt="Xbox game subscription service launches soon">
                                    </figure>
                                </a>
                                <div class="item-tags">
                                    <a class="button tag is-rounded" href="#" title="Entertainment" aria-label="Entertainments">#Entertainment</a>
                                    <a class="button tag is-rounded" href="#" title="Gaming" aria-label="Gamings">#Gaming</a>
                                </div>
                                <h2 class="title item-title is-size-4 has-text-weight-extra-bold"><a class="item-link" href="#">Xbox game subscription service launches soon</a></h2>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="item-author"><a href="#">John Doe</a></div>
                                    </div>
                                    <div class="level-right">
                                        <time datetime="2018-06-07">Jun 07, 2018</time>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-half">
                            <div class="item card bottom-border">
                                <a class="item-link" href="#">
                                    <figure class="image lazyload is-2by1 item-figure background-img" style="background-image:url(http://placehold.it/700x600)" alt="Xbox game subscription service launches soon">
                                    </figure>
                                </a>
                                <div class="item-tags">
                                    <a class="button tag is-rounded" href="#" title="Entertainment" aria-label="Entertainments">#Entertainment</a>
                                    <a class="button tag is-rounded" href="#" title="Gaming" aria-label="Gamings">#Gaming</a>
                                </div>
                                <h2 class="title item-title is-size-4 has-text-weight-extra-bold"><a class="item-link" href="#">Xbox game subscription service launches soon</a></h2>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="item-author"><a href="#">John Doe</a></div>
                                    </div>
                                    <div class="level-right">
                                        <time datetime="2018-06-07">Jun 07, 2018</time>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="column is-half">
                            <div class="item card bottom-border">
                                <a class="item-link" href="#">
                                    <figure class="image lazyload is-2by1 item-figure background-img" style="background-image:url(http://placehold.it/700x600)" alt="Xbox game subscription service launches soon">
                                    </figure>
                                </a>
                                <div class="item-tags">
                                    <a class="button tag is-rounded" href="#" title="Entertainment" aria-label="Entertainments">#Entertainment</a>
                                    <a class="button tag is-rounded" href="#" title="Gaming" aria-label="Gamings">#Gaming</a>
                                </div>
                                <h2 class="title item-title is-size-4 has-text-weight-extra-bold"><a class="item-link" href="#">Xbox game subscription service launches soon</a></h2>
                                <div class="level">
                                    <div class="level-left">
                                        <div class="item-author"><a href="#">John Doe</a></div>
                                    </div>
                                    <div class="level-right">
                                        <time datetime="2018-06-07">Jun 07, 2018</time>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="section">
                    <nav class="pagination is-centered">
                        <a class="pagination-previous">Previous</a>
                        <a class="pagination-next">Next page</a>
                        <ul class="pagination-list">
                            <li><a class="pagination-link">1</a></li>
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link">45</a></li>
                            <li><a class="pagination-link is-current">46</a></li>
                            <li><a class="pagination-link">47</a></li>
                            <li><span class="pagination-ellipsis">&hellip;</span></li>
                            <li><a class="pagination-link">86</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="column">
                <div class="section">
                    <div class="field is-grouped">
                        <p class="control is-expanded">
                            <input class="input" type="text" placeholder="Find a repository">
                        </p>
                        <p class="control">
                            <a class="button is-primary">
                                Search
                            </a>
                        </p>
                    </div>
                </div>
                <div class="section">
                    <aside class="menu">
                        <p class="menu-label">
                            最近の投稿
                        </p>
                        <ul class="menu-list">
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                        </ul>


                    </aside>

                </div>

                <div class="section">
                    <aside class="menu">
                        <p class="menu-label">
                            カテゴリ
                        </p>
                        <ul class="menu-list">
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                            <li><a>Lorem ipsum dolor sit amet, consectetur.</a></li>
                        </ul>
                    </aside>
                </div>

            </div>

        </div>

    </div>
</div>

{% endblock %}
