{% extends "base.html.twig" %}

{% block title %}{{ slug }} - {{ parent() }}{% endblock %}

{% block content %}
<section class="hero background-img is-large is-primary"  style="background-image: linear-gradient(rgba(0, 0, 0, 0.49),rgba(0, 0, 0, 0.89)),url('https://bulma.io/images/placeholders/640x480.png')">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title has-text-white is-size-1 has-text-weight-bold">
                {{ slug }}
            </h1>
            <div class="section">
                <div class="column is-4 is-offset-4 is-mobile is-tablet">
                    <div class="is-clearfix">
                        <div class="is-pulled-left">
                            <figure class="image is-128x128">
                                <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                            </figure>
                        </div>
                        <div class="is-pulled-right">
                            <a href="/author/john/" class="has-text-light is-size-4">maiddima</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="post">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="post-content">
                    <div class="post-tags">
                        <a class="tag is-rounded" href="#" title="Entertainment" aria-label="Entertainments">Entertainment</a>
                        <a class="tag is-rounded" href="#" title="Gaming" aria-label="Gamings">Gaming</a>
                    </div>
                    <div class="post-content__inner">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid nunc honeste dicit? Quorum sine causa fieri nihil putandum est. Sic consequentibus vestris sublatis prima tolluntur. Facile est hoc cernere in primis puerorum aetatulis. Duo Reges: constructio interrete. Negat enim summo bono afferre incrementum diem. </p>
                        <h2>Illud dico, ea, quae dicat, praeclare inter se cohaerere.</h2>
                        <p><i>Idemne, quod iucunde?</i> Callipho ad virtutem nihil adiunxit nisi voluptatem, Diodorus vacuitatem doloris. Quo studio Aristophanem putamus aetatem in litteris duxisse? Cur igitur, cum de re conveniat, non malumus usitate loqui? Fortemne possumus dicere eundem illum Torquatum? Ut necesse sit omnium rerum, quae natura vigeant, similem esse finem, non eundem. Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint. Ego vero isti, inquam, permitto. </p>
                        <h4>Nunc haec primum fortasse audientis servire debemus.</h4>
                        <p>Immo alio genere; Quod non faceret, si in voluptate summum bonum poneret. Nec lapathi suavitatem acupenseri Galloni Laelius anteponebat, sed suavitatem ipsam neglegebat; </p>
                        <blockquote cite="http://loripsum.net">
                            Tertium autem omnibus aut maximis rebus iis, quae secundum naturam sint, fruentem vivere.
                        </blockquote>
                        <p><i>Bonum liberi: misera orbitas.</i> Ad eas enim res ab Epicuro praecepta dantur. Cur deinde Metrodori liberos commendas? Quarum ambarum rerum cum medicinam pollicetur, luxuriae licentiam pollicetur. At enim hic etiam dolore. Quodcumque in mentem incideret, et quodcumque tamquam occurreret. </p>
                        <p>Nihilo magis. Vitiosum est enim in dividendo partem in genere numerare. Indicant pueri, in quibus ut in speculis natura cernitur. <b>Summae mihi videtur inscitiae.</b> </p>
                        <p>Pudebit te, inquam, illius tabulae, quam Cleanthes sane commode verbis depingere solebat. In quibus doctissimi illi veteres inesse quiddam caeleste et divinum putaverunt. </p>
                        <ol>
                            <li>Pugnant Stoici cum Peripateticis.</li>
                            <li>Quid enim me prohiberet Epicureum esse, si probarem, quae ille diceret?</li>
                            <li>Utilitatis causa amicitia est quaesita.</li>
                            <li>Nos commodius agimus.</li>
                        </ol>
                        <h3>Nemo igitur esse beatus potest.</h3>
                        <p>Optime, inquam. Nobis aliter videtur, recte secusne, postea; Quod autem principium officii quaerunt, melius quam Pyrrho; Negat esse eam, inquit, propter se expetendam. Sed virtutem ipsam inchoavit, nihil amplius. An vero, inquit, quisquam potest probare, quod perceptfum, quod. De malis autem et bonis ab iis animalibus, quae nondum depravata sint, ait optime iudicari. Facile est hoc cernere in primis puerorum aetatulis. </p>

                    </div>
                </div>
                <div class="social-share">
                    <p class="is-hidden-mobile">Partager sur :</p>
                    <a href="https://twitter.com/share?text=Far%20Cry%205%20artwork%20introduces%20us%20to%20a%20religious%20cult&amp;url=https://biron.bironthemes.com/far-cry-5-artwork-introduces-us-to-a-religious-cult/"
                    onclick="window.open(this.href, 'twitter-share', 'width=580, height=296'); return false;"
                    title="Share on Twitter" aria-label="Share on Twitter" tabindex="-1">
                    <i class="ion-ionic ion-logo-twitter ion-3x"></i>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://biron.bironthemes.com/far-cry-5-artwork-introduces-us-to-a-religious-cult/"
                onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;"
                title="Share on Facebook" aria-label="Share on Facebook" tabindex="-1">
                <i class="ion-ionic ion-logo-facebook ion-3x"></i>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=/far-cry-5-artwork-introduces-us-to-a-religious-cult//&amp;title=Far%20Cry%205%20artwork%20introduces%20us%20to%20a%20religious%20cult"
            onclick="window.open(this.href, 'facebook-share', 'width=580, height=296'); return false;"
            title="Share on Linkedin" aria-label="Share on Linkedin" tabindex="-1">
            <i class="ion-ionic ion-logo-linkedin ion-3x"></i>
        </a>
    </div>
    <div class="section">
        <div class="container">
            <div class="field">
                <label class="label">Name</label>
                <input class="input is-small" type="text"placeholder="e.g John Doe">
            </div>
            <div class="field">
                <label class="label">Email</label>
                <input class="input is-small" type="text"placeholder="e.g. John.doe@domain.com">
            </div>
            <div class="field">
                <label class="label">Comments</label>
                <textarea class="textarea is-small" type="text" placeholder="additional information"></textarea>
            </div>
            <div class="field">
                <button class="button is-primary is-small is-outlined">Submit</button>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Dareine AMOA</strong> <small>maiddima</small> <small>31m</small>
                        <br>
                        <slot>yO</slot>
                      </p>
                    </div>
                  </div>
                </article>
            </div>
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64 is-rounded">
                      <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Dareine AMOA</strong> <small>maiddima</small> <small>31m</small>
                        <br>
                        <slot>Cat ipsum dolor sit amet, ask to go outside and ask to come inside and ask to go outside and ask to come inside for touch water with paw then recoil in horror and good morning sunshine. Check cat door for ambush 10 times before coming in scratch at the door then walk away i shall purr myself to sleep yet please stop looking at your phone and pet me. Poop on couch stare at wall turn and meow stare at wall some more meow again continue staring for catch mouse and gave it as a present or nya nya nyan and meowzer.</slot>
                      </p>
                    </div>
                  </div>
                </article>
            </div>
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Dareine AMOA</strong> <small>maiddima</small> <small>31m</small>
                        <br>
                        <slot>Cat ipsum dolor sit amet, ask to go outside and ask to come inside and ask to go outside and ask to come inside for touch water with paw then recoil in horror and good morning sunshine. Check cat door for ambush 10 times before coming in scratch at the door then walk away i shall purr myself to sleep yet please stop looking at your phone and pet me. Poop on couch stare at wall turn and meow stare at wall some more meow again continue staring for catch mouse and gave it as a present or nya nya nyan and meowzer.</slot>
                      </p>
                    </div>
                  </div>
                </article>
            </div>
            <div class="box">
                <article class="media">
                  <div class="media-left">
                    <figure class="image is-64x64">
                      <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Dareine AMOA</strong> <small>maiddima</small> <small>31m</small>
                        <br>
                        <slot>Cat ipsum dolor sit amet, ask to go outside and ask to come inside and ask to go outside and ask to come inside for touch water with paw then recoil in horror and good morning sunshine. Check cat door for ambush 10 times before coming in scratch at the door then walk away i shall purr myself to sleep yet please stop looking at your phone and pet me. Poop on couch stare at wall turn and meow stare at wall some more meow again continue staring for catch mouse and gave it as a present or nya nya nyan and meowzer.</slot>
                      </p>
                    </div>
                  </div>
                </article>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</section>
{% endblock %}
